# Java compiled files
*.class
out/
bin/
build/

# Local datasets
dataset_p/
dataset_g/
dataset_*/

# Python cache
__pycache__/
*.pyc

# IDE/editor
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
Desktop.ini
